
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="closeBox()" class="close">&times;</span>
    <h1 class="cart-title" >Cart</h1>
    <div class="">
      <table  class="cart-table">
        <thead>
          <th>img</th>
          <th>Title</th>
          <th>price</th>
          <th>quantity</th>
        </thead>
        <tbody class="cart-items" >
        </tbody>
      </table>
    </div>
    <div class=""><h2 class="cart-total">Total :<span class="cart-total-price">$0.00</span></h2></div>
    <button class="purchase-btn" type="button">  PURCHASE</button>
  </div>
</div>