<footer class="footer-none credit">Developed by <a href="https://www.khoaiz.xyz/">Khoaiz</a> | <a href="https://www.linkedin.com/in/khoaiz/"><img width="20px" height="20px" src="../img/icons/linkedin.svg" alt="" srcset=""> Linkedin</a>  | <a href="https://github.com/khoaizahmmed/burger-house"><img width="20px" height="20px" src="../img/icons/github.svg" alt="" srcset=""> Github</a></footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/modal.js"></script>
</body>
</html>
