 <%- include('partials/header'); -%>
 <link rel="stylesheet" href="../css/home.css">
 <div id="home-section">
   <div class="header">
        <h4 class="head-border-box">It is a good time for the great taste of burgers</h4>
        <h1 class="head-line">Burger</h1>
        <p class="head-line-para">Week</p>
        <a class="order-btn" href="/order">Oder now</a>
   </div>
   <div class="header-img">
        <img src="../img/header-pic2.png" alt="">
   </div>
 </div>

 <%- include('partials/footer'); -%>