<%- include('partials/header'); -%>
<link rel="stylesheet" href="../css/order.css">
<h1>Choose & Enjoy</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi perspiciatis tenetur commodi nisi magnam repellat. Maxime voluptate dicta ea tempora ut amet quisquam iste qui ipsa dolorum quasi natus expedita sapiente fugit quae cum exercitationem ipsam, veniam nulla deleniti, in cupiditate id provident! Quisquam reiciendis perspiciatis sed numquam molestiae.</p>
<div class="order-burger">
  <div class="order-card">
    <img src="../img/burger-arif.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, delectus.</p>
    <a class="order-btn" href="/order">Oder now</a>
  </div>
  <div class="order-card">
    <img src="../img/burger-pro.png" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, sequi?</p>
    <a class="order-btn" href="/order">Oder now</a>
  </div>
  <div class="order-card">
    <img src="../img/burger-arif.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, est.</p>
    <a class="order-btn" href="/order">Oder now</a>
  </div>
</div>

<%- include('partials/footer'); -%>